# Node modules
node_modules/
package-lock.json
package.json

# Logs
cb.log

# Build output
dist/

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/
*.sublime-workspace

# Coverage reports
.cache/
coverage/